:global {
	#pageloader {
		background-color: #E74C3C;
		height: 100%;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
		&.bw {
			background-color: #000000;
		}
	}
	.loader-item {
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 40px;
		width: 40px;
		img {
			width: 80px;
		}
	}
}

