/*@import '../../assets/css/main/mixins';

.navbar-pasific {
  .navbar-brand {
      color: #fff;
      font-size: 24px;
      @include font-extra;
  }
  .navbar-brand img {
      float: left;
      margin-right: 10px;
      margin-top: -5px;
      max-width: 30px;
  }
  .container-fluid .navbar-brand img {
      margin-left: 20px;
  }
  .container .navbar-brand img {
      margin-left: 0;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
      background-color: transparent;
  }
}
.top-nav-collapse .navbar-brand {
    color: #555 !important;
}
.top-nav-collapse-inverse .navbar-brand {
    color: #fff !important;
}

@media (max-width: 1200px) {
    .navbar-op .navbar-header {
        float: none;
    }
    .navbar-op .navbar-brand {
        color: #333;
    }
}

.navbar-pasific .navbar-toggle {
    border-color: #ff4530;
}
@media (max-width: 766px) {
    .navbar-mp.top-nav-collapse .navbar-brand,
    .navbar-mp .navbar-brand {
        color: #555 !important;
    }
    .navbar-mp .navbar-brand img {
        margin-left: 0 !important;
    }
}*/
