$font-global-fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-global: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-extra-fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-extra: 'Pacifico', 'Helvetica Neue', Helvetica, Arial, sans-serif;