/*  ----------------------------------------------------
7. ACCORDIAN
-------------------------------------------------------- */
.accordian-toggle-chevron-left:after,
.accordian-toggle-chevron-right:after,
.accordian-toggle-plus-left:after,
.accordian-toggle-plus-right:after,
.accordian-toggle-plus-sign-left:after,
.accordian-toggle-plus-sign-right:after,
.accordian-toggle-arrow-left:after,
.accordian-toggle-arrow-right:after {
	font-family: "Glyphicons Halflings";
	margin-left: 15px;
	margin-top: 1px;
	font-size: 10px;
}

.accordian-toggle-chevron-left:after,
.accordian-toggle-plus-left:after,
.accordian-toggle-plus-sign-left:after,
.accordian-toggle-arrow-left:after {
	float: left;
	margin-top: 2px;
	margin-left: 0;
	margin-right: 10px;
}

.accordian-toggle-chevron-right:after,
.accordian-toggle-plus-right:after,
.accordian-toggle-plus-sign-right:after,
.accordian-toggle-arrow-right:after {
	float: right;
}

.accordian-toggle-chevron-left:after,
.accordian-toggle-chevron-right:after { content: "\e114"; }

.accordian-toggle-chevron-left.collapsed:after,
.accordian-toggle-chevron-right.collapsed:after { content: "\e080"; }

.accordian-toggle-plus-left:after,
.accordian-toggle-plus-right:after { content: "\2212"; }

.accordian-toggle-plus-left.collapsed:after,
.accordian-toggle-plus-right.collapsed:after { content: "\2b"; }

.accordian-toggle-plus-sign-left:after,
.accordian-toggle-plus-sign-left:after { content: "\e082"; }

.accordian-toggle-plus-sign-left.collapsed:after,
.accordian-toggle-plus-sign-right.collapsed:after { content: "\e081"; }

.accordian-toggle-arrow-left:after,
.accordian-toggle-arrow-right:after { content: "\e094"; }

.accordian-toggle-arrow-left.collapsed:after,
.accordian-toggle-arrow-right.collapsed:after { content: "\e092"; }

.accordian-toggle-chevron-left:after,
.accordian-toggle-chevron-left.collapsed:after,
.accordian-toggle-plus-left:after,
.accordian-toggle-plus-left.collapsed:after,
.accordian-toggle-plus-sign-left:after,
.accordian-toggle-plus-sign-left.collapsed:after,
.accordian-toggle-arrow-left:after,
.accordian-toggle-arrow-left.collapsed:after,
.accordian-toggle-chevron-right:after,
.accordian-toggle-chevron-right.collapsed:after,
.accordian-toggle-plus-right:after,
.accordian-toggle-plus-right.collapsed:after,
.accordian-toggle-plus-sign-right:after,
.accordian-toggle-plus-sign-lerightft.collapsed:after,
.accordian-toggle-arrow-right:after,
.accordian-toggle-arrow-right.collapsed:after {
	opacity: .5;
}
