/*  ----------------------------------------------------
10. BLOCKQUOTE
-------------------------------------------------------- */
blockquote,
blockquote.blockquote-pasific {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left-width: 5px;
	border-left-style: solid;
}
blockquote.blockquote-reverse,
blockquote.blockquote-pasific-reverse {
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-right-width: 5px;
	border-right-style: solid;
}
blockquote p {
	font-size: 14px;
	margin-bottom: 10px;
}
blockquote footer {
	font-size: 12px;
	color: #111;
	margin: 0;
	padding: 0;
}
blockquote footer cite {
	color: #ccc;
}
blockquote.blockquote-pasific,
blockquote.blockquote-pasific-reverse {
	background-color: #ffffff;
	border: 1px solid #ddd;
	padding: 20px;
	-webkit-box-shadow: 7px 7px 0 #f0f0f0;
	-moz-box-shadow: 7px 7px 0 #f0f0f0;
	box-shadow: 7px 7px 0 #f0f0f0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

blockquote.blockquote-pasific-reverse {
	text-align: right;
}
blockquote.blockquote-pasific-has-photo,
blockquote.blockquote-pasific-has-photo-reverse {
	border: 0;
	padding: 0;
}
blockquote.blockquote-pasific-has-photo img {
	float: left;
	margin-right: 20px;
	width: 80px;
	height: 80px;
}
blockquote.blockquote-pasific-has-photo p {
	margin-left: 100px;
}
blockquote.blockquote-pasific-has-photo footer {
	margin-left: 100px;
}
blockquote.blockquote-pasific-has-photo-reverse img {
	float: right;
	margin-left: 20px;
	width: 80px;
	height: 80px;
}
blockquote.blockquote-pasific-has-photo-reverse p {
	margin-right: 100px;
	text-align: right;
}
blockquote.blockquote-pasific-has-photo-reverse footer {
	margin-right: 100px;
	text-align: right;
}
