////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//// COLORS

$c-white        : #fff;
$c-grey-1		: #e0e0e0;
$c-grey-2		: #e1e1e1;
$c-grey-3       : #cfcfcf;
$c-grey-4       : #999999;
$c-grey-5		: #5f6467;
$c-grey-6       : #4c4f4e;
$c-grey-7       : #4d5150;
$c-black        : #000;
$c-yellow-1		: #ffc501;
$c-blue-1		: #286090;
$c-blue-2       : #3dace1;
$c-blue-3		: #5bc0de;
$c-green-1      : #5cb85c;
$c-green-2      : #b2cc71;
$c-green-3      : #1abc9c;
$c-red-1        : #ff4530;
$c-red-2		: #fd3635;
$c-red-3		: #c9302c;
$c-pink-1		: #fd40b3;
$c-orange-1     : #ff8b34;
$c-orange-2     : #ec971f;
$c-purple-1		: #a85ad4;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//// FONTS

$f-primary			: 'Open Sans', sans-serif;
$f-secondary		:'Pacifico', cursive;

$static_path: '../static/';
$img_path: '../static/img/';
$fonts_path: '../static/fonts/';
