body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background: url('../img/lightpaperfibers.png');
    width: 100%;
    color: #444;
}
