<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="description" content="latest portfolio">
<meta name="robots" content="noindex, nofollow">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="icon" href="/assets/img/icon/favicon.ico">
<link rel="apple-touch-icon" href="/assets/img/icon/apple-touch-icon.png" />
<meta name="application-name" content="nitrocv" />
<meta name="msapplication-TileColor" content="#5133ab" />
<meta name="msapplication-TileImage" content="/assets/img/icon/tile-icon.png" />

<title>{{pageTitle}}</title>
<link href="/assets/css/app.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800|Black+Ops+One" rel="stylesheet" type="text/css">
